
@font-face {
  font-family: 'Apple';
  src: local('Apple'), url(Apple.ttf) format('ttf')
}
body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Apple';
  background-color: white;
  color: #941100;
  font-size: 36px;
}
p {
  display: inline-flex;
}

.uniqueButton {
  flex-wrap: wrap;
  display: flex;
  width: 4em;
  height: inherit;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
