
@font-face {
  font-family: 'Apple ][';
  src: local('Apple ]['), url(Apple ][.ttf) format('ttf')
}
body {
  /* font-family: 'Apple ]['; */
  background-color: black;
  color: #941100;
  font-size: 36px;
}
div {
  display: flex;
}

.uniqueButton-0-3 {
margin: 0;
width: ;
}
